.maininfo {
    margin-bottom: 85px;

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        max-width: 540px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
    }

    &__text {
        font-size: 16px;
        line-height: 19px;
    }

    &__right {
        border-radius: 9px;
        min-height: 434px;
        min-width: 540px;
        background: url(../../assets/zal.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
    }
}